
<div class="content" style ="padding-top:0px;">
  <iframe style="height:100%;" src="http://dms.mvconsultoria.com/OpenKM/"></iframe>
</div>

<script type="text/javascript">
  $(document).ready (function(){
    $(".content iframe").width($('.content').width())
  });
</script>