<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<div class="search-item-model"><%= model.class.human_name %></div>
<ul>
  <li class="first-item"><%= model.name %></li>
  <li class="second-item"><%= link_to  model.url, model.url %></li>
</ul>
