<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<img src="http://imagenes.mvconsultoria.com/20100315imagotipo_mv_C-01.jpg" /><br />
<span style=" font-size: 11pt;"><font color="#00acd6"><font face="Tw Cen MT">Intranet Mvconsultoria</font></font><font face="Tw Cen MT"><br style="color: #00acd6" />
<font color="#757476">Esta cuenta no se monitoriza, no responder a este mensaje</font></font><font color='#757476'><br style=" font-family: 'Tw Cen MT'" />
</font><font color="#757476"><br style=" font-family: 'Tw Cen MT'" />
</font><font face="Tw Cen MT"><a href="www.intranet.mvconsultoria.com">www.intranet.mvconsultoria.com</a></font></span>