<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<p>Su nueva contraseña es <%= @new_pass %></p>
Cambiela haciendo click encima de su nombre de usuario en la esquina superior derecha una vez que se loguee por primera vez.

<p>Saludos!</p>

<p>
  <%= render :partial => "sign", :layout => false %>
</p>
